<aub-info [autor] = "'Juan Belmonte'" [titulo] = "'Curso de angular'">
    <div id="inicio">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit voluptates placeat provident expedita voluptate quos necessitatibus dicta est officiis obcaecati in fugit, perspiciatis atque ratione sunt ipsum commodi! Accusamus, sint.</p>
    </div>
    <div id="extra">
    <p>Alias, consequatur error! Est saepe eligendi voluptates fugit hic quisquam itaque, quidem voluptatem ratione fuga commodi, tempora quos neque nemo porro. Earum praesentium blanditiis culpa ducimus natus non magnam? Dignissimos?</p>
    <p>Reprehenderit fugiat, amet quae placeat unde est. Vero, pariatur. Blanditiis maxime, ipsum officia possimus cum facilis fuga ea sint ducimus dolorem voluptates ad aperiam nesciunt eveniet quidem libero vel tempora.</p>
    <p>Recusandae illo sint exercitationem earum, corporis nam porro reprehenderit quis saepe velit accusamus aperiam aspernatur quos doloremque suscipit voluptatem itaque molestiae amet nesciunt maiores facilis molestias delectus possimus. Delectus, aliquid!</p>
    <p>Consequuntur eos aliquid, iure, incidunt adipisci quo perferendis, exercitationem natus temporibus voluptatem ipsum? Exercitationem dolorum mollitia debitis, aliquid tenetur libero, maxime, tempore modi amet voluptatem officiis! Velit sapiente perspiciatis eligendi.</p>
    <p>Accusamus quod nostrum cum incidunt voluptates deleniti nesciunt asperiores quaerat ea voluptate natus consectetur, veniam quisquam vel laboriosam tenetur possimus soluta dolore cumque a. Molestiae non blanditiis inventore distinctio illum.</p>
</div>
</aub-info> 

