dialog {
    background-color: white;
    border:red;
}

dialog button {
    margin: 0 1rem;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
}

fa-icon, .boton {
    padding-left: 1rem;
    cursor: pointer;
}