<h3>Tareas multicomponente</h3>
<aub-nueva (addTarea) = "onAddTarea($event)"></aub-nueva>

<div class="mt-3" *ngIf="tareas.length > 0; else sinLista ">
        <h3>Lista de tareas</h3>
         <ul class="list-group">
             <li *ngFor="let item of tareas; let i = index"
             class="list-group-item">
            <aub-tarea [tarea] = 'item'></aub-tarea>
            </li>
         </ul>
        </div>
    <div>
    <ng-template #sinLista>
        <p>
            Animate a añadir alguna tarea
        </p>
    </ng-template>
    </div> 
    
    <dialog #confirmar>
        <p>Estás seguro?</p>
        <button type="button" class="btn btn-primary pl-3" (click) = "onDeleteTarea(true)">Si</button>
        <button type="button" class="btn btn-primary pl-3" (click) = "onDeleteTarea(false)">No</button>
    </dialog>
    


